body {
    background: #FAFAFA;
    font-size: 1em;
}

input[type=checkbox] {
    vertical-align: text-top;
}

.container {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

.two-flex-grow {
    flex: 2 0 0;
}

