body {
    background: #FAFAFA;
    font-size: 1rem;
}

div.vertical-margin {
    margin: 0.5rem 0;
}

.inline {
    display: inline;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

select:focus {
    outline: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

input[type=checkbox] {
    vertical-align: text-top;
}

input:focus {
    outline: none;
}

.container {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

